<%-include("header")-%>


<h2>about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus soluta consectetur perferendis dolore rerum hic doloremque vitae repellendus corrupti labore modi, quisquam illo ea error, adipisci esse delectus omnis illum.</p>


<%-include("footer")-%>